* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding:0;
    margin: auto 0;
    background-color: #FFFFFF;
    color: #000000;
}

.connections {
    color: #000000;
    margin: 15px 20px;
    padding: 5px; 30px;
    font-size: 16px;
    text-decoration: none;
}